<div class="bikes-form">
	<h4 class="title">Reviews de puntos de préstamo</h4>
</div>
<div class="filters-bar panel panel-default">
	<div class="panel-body">
		<form name="formBusqueda" class="form-inline" role="form" ng-submit="formBusqueda.$valid && ctrl.filtrarPuntos()">
			<div class="form-group group-inline">
	    		<label for="calificacion">Filtrar puntos por calificación:</label>
	    		<select class="form-control" name="singleSelect" id="calificacion" ng-model="ctrl.calificacion">
	                <option value="">Seleccione un rango</option>
	                <option value="1">1-1.99</option>
	                <option value="2">2-2.99</option>
	                <option value="3">3-3.99</option>
	                <option value="4">4-4.99</option>
	                <option value="5">5</option>
	            </select> 
	  		</div>
	  		<button type="submit" class="btn btn-success">Filtrar</button>
		</form>
	</div>
</div>
<table class="table table-striped table-hover"
	ng-show="ctrl.puntosPrestamo.length > 0">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Dirección</th>
			<th>Calificación</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in ctrl.puntosPrestamo">
			<td>{{p.id}}</td>
			<td>{{p.nombre}}</td>
			<td>{{p.direccion}}</td>
			<td>{{p.calificacion}}</td>
			<td align="center">
				<button type="button" class="btn btn-success"
					ng-click="ctrl.mostrarReviews(p)">
	   				<span class="glyphicon glyphicon-star" aria-hidden="true">
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="big-message" ng-show="!ctrl.puntosPrestamo.length">
	<h3>{{ctrl.mensajeVacio}}</h3>
</div>