<div class="modal-header">
	<button type="button" ng-click="ctrl.cerrar()" class="close"
		aria-hidden="true">&times;</button>
	<h4 class="modal-title">Nuevo Préstamo</h4>
</div>
<div class="modal-body">
		<form name="form">
			<div class="col-md-12">
				<errors id="errors" error="ctrl.error"></errors>
			</div>
            <div class="form-group">
				<label for="singleSelect"> Usuario: </label><br>
                    <select class="form-control" name="singleSelect" 
                    	ng-init="ctrl.prestamo.usuario = ctrl.prestamo.usuario || ctrl.usuarios[0]"
                    	ng-model="ctrl.prestamo.usuario"
                    	ng-options="option.id as option.username for option in ctrl.usuarios"
                    	required>
                    </select> 
            </div> 
            <div class="form-group"
                ng-class="{ 'has-success': form.bicicleta.$valid && form.bicicleta.$dirty, 'has-error': form.bicicleta.$invalid && form.bicicleta.$dirty}">
            <label for="bici"> Bicicleta: </label><br>
            <input class="form-control" placeholder="Id Bicicleta"
                    ng-model="ctrl.prestamo.bicicleta" name="bicicleta"
                    required type=number min="0" max="100000" step="1">
            </div>
            <div class="form-group">
                <label for="singleSelect"> Usuario para retorno: </label><br>
                    <select class="form-control" name="singleSelect" 
                        ng-init="ctrl.prestamo.usuarioAutorizado = ctrl.prestamo.usuarioAutorizado || ctrl.usuarios[0]"
                        ng-model="ctrl.prestamo.usuarioAutorizado"
                        ng-options="option.id as option.username for option in ctrl.usuarios"
                        required>
                    </select> 
            </div>             
            <div class="form-group">
                <label for="singleSelect"> Punto Inicial: </label><br>
                    <select class="form-control" name="singleSelect" 
                        ng-init="ctrl.prestamo.punto = ctrl.prestamo.punto || ctrl.puntosPrestamo[0]"
                        ng-model="ctrl.prestamo.punto"
                        ng-options="option.id as option.nombre for option in ctrl.puntosPrestamo"
                        required>
                    </select> 
            </div>               
			<button type="button" class="btn btn-success"
				ng-click="ctrl.guardar(form.$valid, form.$error)">Guardar
			</button>
		</form>
		</br>
	</div>
</div>
