<div class="modal-header">
	<button type="button" ng-click="ctrl.cerrar()" class="close"
		aria-hidden="true">&times;</button>
	<h4 class="modal-title">Solicitud de Mantenimiento</h4>
</div>
<div class="modal-body">
		<form name="form">
			<div class="col-md-12">
				<errors id="errors" error="ctrl.error"></errors>
			</div>
            <div class="form-group"
                ng-class="{ 'has-success': form.bicicleta.$valid && form.bicicleta.$dirty, 'has-error': form.bicicleta.$invalid && form.bicicleta.$dirty}">
            <label for="bici"> Bicicleta: </label><br>
            <input class="form-control" placeholder="Id Bicicleta"
                    ng-model="ctrl.solicitud.bicicleta" name="bicicleta"
                    required type=number min="0" max="100000" step="1">
            </div>
			<div class="form-group"
				ng-class="{ 'has-success': form.descripcion.$valid && form.descripcion.$dirty, 'has-error': form.descripcion.$invalid && form.descripcion.$dirty}">
				<input class="form-control" style="width: 100%; height: 100px;" placeholder="Descripción"
					ng-model="ctrl.solicitud.descripcion" name="descripcion" type="text"
					maxlength="140" required>
			</div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="selectedTipos" ng-model="ctrl.solicitud.mantenimiento"> 
                        ¿Deshabilitar?
                </label>
            </div>
			<button type="button" class="btn btn-success"
				ng-click="ctrl.guardar(form.$valid, form.$error)">Guardar
			</button>
		</form>
		</br>
	</div>
</div>
