<div class="modal-header">
	<button type="button" ng-click="ctrl.cerrar()" class="close"
		aria-hidden="true">&times;</button>
	<h4 class="modal-title">Tipo de Bicicleta</h4>
</div>
<div class="modal-body">
		<form name="form">
			<div class="col-md-12">
				<errors id="errors" error="ctrl.error"></errors>
			</div>
			<div class="form-group"
				ng-class="{ 'has-success': form.nombre.$valid && form.nombre.$dirty, 'has-error': form.nombre.$invalid && form.nombre.$dirty}">
				<input class="form-control" placeholder="Nombre*"
					ng-model="ctrl.tipoBici.nombre" name="nombre"
					maxlength="50" required>
			</div>
			<button type="button" class="btn btn-success"
				ng-click="ctrl.guardar(form.$valid, form.$error)">Guardar
			</button>
		</form>
		</br>
	</div>
</div>
