<div class="bikes-form">
	<h4 class="title">Préstamos</h4>
</div>
</br>
<table class="table table-striped table-hover"
	ng-show="ctrl.prestamos.length > 0">
	<thead>
		<tr>
			<th>Id</th>
			<th>Bicicleta</th>
			<th>Usuario Retorno</th>
			<th>Fecha y Hora</th>
			<th>Punto Inicial</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in ctrl.prestamos">
			<td>{{p.id}}</td>
			<td>{{p.bicicleta}}</td>
			<td>{{ctrl.usuarios[p.usuarioAutorizado].username || p.usuarioAutorizado}}</td>
			<td>{{p.fecha | date:"dd/MM/yyyy h:mma"}}</td>
			<td>{{ctrl.puntosPrestamo[p.punto].nombre || p.punto}}</td>
			<td align="center">
				<button type="button" class="btn btn-success"
					ng-click="ctrl.abrirItem(p, ctrl.usuarios, ctrl.puntosPrestamo)"
					ng-disabled="p.retorno">
	   				<span class="glyphicon glyphicon-pencil" aria-hidden="true">
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="big-message" ng-show="!ctrl.prestamos.length">
	<h3>No hay préstamos para el usuario en el momento.</h3>
</div>
