<div class="bikes-form">
	<h4 class="title">Reservas para préstamo</h4>
	<button type="button" class="btn btn-success navbar-btn" ng-click="ctrl.nuevoPrestamo()"> 
	   <span class="glyphicon glyphicon-plus" aria-hidden="true">
	   </span> 
	</button>
</div>
</br>
<table class="table table-striped table-hover"
	ng-show="ctrl.reservas.length > 0">
	<thead>
		<tr>
			<th>Id</th>
			<th>Bicicleta</th>
			<th>Usuario</th>
			<th>Fecha y Hora</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="r in ctrl.reservas">
			<td>{{r.id}}</td>
			<td>{{r.bicicleta}}</td>
			<td>{{ctrl.usuarios[r.user].username || r.user}}</td>
			<td>{{r.fecha.split("T").join(" ").split("Z")[0]}}</td>
			<td align="center">
				<button type="button" class="btn btn-success"
					ng-click="ctrl.abrirItem(r, ctrl.usuarios, ctrl.puntosPrestamo)">
	   				<span class="glyphicon glyphicon-flag" aria-hidden="true">
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="big-message" ng-show="!ctrl.reservas.length">
	<h3>No hay reservas para préstamo en el momento.</h3>
</div>
