<div class="bikes-form">
	<h4 class="title">Multas</h4>
	<button type="button" class="btn btn-success navbar-btn" ng-click="ctrl.nuevoMulta()"> 
	   <span class="glyphicon glyphicon-plus" aria-hidden="true">
	   </span> 
	</button>
</div>
</br>
<table class="table table-striped table-hover"
	ng-show="ctrl.multas.length > 0">
	<thead>
		<tr>
			<th>Id</th>
			<th>Tipo</th>
            <th>Monto</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="t in ctrl.multas">
			<td>{{t.id}}</td>
			<td>{{t.tipo}}</td>
            <td>{{t.monto}}</td>
			<td align="center">
				<button type="button" class="btn btn-success"
					ng-click="ctrl.abrirItem(t)">
	   				<span class="glyphicon glyphicon-pencil" aria-hidden="true">
				</button>
				<button type="button" class="btn btn-danger	"
					ng-click="ctrl.eliminarItem(t)">
	   				<span class="glyphicon glyphicon-erase" aria-hidden="true">
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="big-message" ng-show="!ctrl.multas.length">
	<h3>No hay multas en el momento.</h3>
</div>