<ul class="nav navbar-nav navbar-right" ng-hide="ctrl.autenticado()">
	<div style="padding: 20px;">
		<button type="button" class="btn btn-success navbar-btn" ng-click="ctrl.irALogin()">
	    	<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Iniciar Sesi&#243n
		</button>
	</div>
</ul>

<div style="padding-right: 20px;" class="btn-group" ng-show="ctrl.autenticado()">

</div>
<ul class="nav navbar-nav navbar-right" ng-show="ctrl.autenticado()">
	<div class="btn-group usuario" >
  		<button type="button" class="btn btn-success dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    		Opciones <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu">
        <li ng-show="ctrl.esAdmin()" ng-click="ctrl.irABicis()"><a>Bicicletas</a></li>
    	<li ng-show="ctrl.esAdmin()" ng-click="ctrl.irATiposBici()"><a>Tipos Bicicleta</a></li>
    	<li ng-show="ctrl.esAdmin()" ng-click="ctrl.irATiposMulta()"><a>Tipos Multa</a></li>
    	<li ng-show="ctrl.esAdmin()" ng-click="ctrl.irAPuntosPrestamo()"><a>Puntos Préstamo</a></li>
        <li ng-show="ctrl.esAdmin()" ng-click="ctrl.irAUsuarios()"><a>Usuarios</a></li>
        <li ng-show="ctrl.esAdmin()" ng-click="ctrl.irABusquedaMultas()"><a>Búsqueda Multas</a></li>
        <li ng-show="ctrl.esAdmin()" ng-click="ctrl.irAConsolidacion()"><a>Consolidación Puntos</a></li>
        <li ng-show="ctrl.esAdmin()" ng-click="ctrl.irAReporteAdmin()"><a>Reporte</a></li>
        <li ng-show="ctrl.esUsuario()" ng-click="ctrl.irAHacerReserva()"><a>Crear Reservas</a></li>
        <li ng-show="ctrl.esUsuario()" ng-click="ctrl.irAPrestamosUsuario()"><a>Mis Préstamos</a></li>
        <li ng-show="ctrl.esUsuario()" ng-click="ctrl.irAReporte()"><a>Reporte Histórico</a></li>
        <li ng-show="ctrl.esUsuario()" ng-click="ctrl.irAMisMultas()"><a>Mis Multas</a></li>
        <li ng-show="ctrl.esUsuario()" ng-click="ctrl.irABonosYPenalidades()"><a>Bonos y penalidades</a></li>
        <li ng-show="ctrl.esAdmin() || ctrl.esUsuario()" ng-click="ctrl.irAReviews()"><a>Reviews Puntos</a></li>
        <li ng-show="ctrl.esFuncionario()" ng-click="ctrl.irACrearPrestamo()"><a>Préstamos</a></li>
        <li ng-show="ctrl.esFuncionario()" ng-click="ctrl.irARetornos()"><a>Retornos</a></li>
        <li ng-show="ctrl.esFuncionario()" ng-click="ctrl.irASolicitudes()"><a>Solicitudes de Mantenimiento</a></li>
        <li ng-click="ctrl.logout()"><a>Log Out</a></li>
  		</ul>		
	</div>
</ul>
