<div class="modal-header">
	<button type="button" ng-click="ctrl.cerrar()" class="close"
		aria-hidden="true">&times;</button>
	<h4 class="modal-title">Punto de Prestamo</h4>
</div>
<div class="modal-body">
	    <div class="list-group-item form-group">
	    <div ng-if="ctrl.error" class="alert alert-danger" role="alert">{{ctrl.error}}</div>
	        <h4>Nuevo Comentario</h4>
	        <div style="margin: 10px; display: inline;">
	            <a ng-click="ctrl.cambiarCalificacion(1)"><span class="glyphicon glyphicon-star"></span></a>
	            <a ng-click="ctrl.cambiarCalificacion(2)"><span ng-if="ctrl.newReview.calificacion>=2" class="glyphicon glyphicon-star"></span></a>
	            <a ng-click="ctrl.cambiarCalificacion(3)"><span ng-if="ctrl.newReview.calificacion>=3" class="glyphicon glyphicon-star"></span></a>
	            <a ng-click="ctrl.cambiarCalificacion(4)"><span ng-if="ctrl.newReview.calificacion>=4" class="glyphicon glyphicon-star"></span></a>
	            <a ng-click="ctrl.cambiarCalificacion(5)"><span ng-if="ctrl.newReview.calificacion>=5" class="glyphicon glyphicon-star"></span></a>
	            <a ng-click="ctrl.cambiarCalificacion(2)"><span ng-if="ctrl.newReview.calificacion<2" class="glyphicon glyphicon-star-empty"></span></a>
	            <a ng-click="ctrl.cambiarCalificacion(3)"><span ng-if="ctrl.newReview.calificacion<3" class="glyphicon glyphicon-star-empty"></span></a>
	            <a ng-click="ctrl.cambiarCalificacion(4)"><span ng-if="ctrl.newReview.calificacion<4" class="glyphicon glyphicon-star-empty"></span></a>
	            <a ng-click="ctrl.cambiarCalificacion(5)"><span ng-if="ctrl.newReview.calificacion<5" class="glyphicon glyphicon-star-empty"></span></a>
	        </div>
	        <input ng-model='ctrl.newReview.comentario' style="width: 100%; height: 100px;" size="140" maxlength="140" type="text" placeholder="Escribe un comentario." style="margin: 5px;"/>
	        <button ng-click='ctrl.guardar()' class="btn btn-success" style="margin: 10px;">Comentar</button>
	    </div>

		<div class="actionBox">
	    <ul class="list-group">
	        <li class="list-group-item" ng-repeat="review in ctrl.puntoPrestamo.reviews">
	            <h4>{{review.user}}</h4>
	            <div style="display: inline">
	                <span class="glyphicon glyphicon-star"></span>
	                <span ng-if="review.calificacion>=2" class="glyphicon glyphicon-star"></span>
	                <span ng-if="review.calificacion>=3" class="glyphicon glyphicon-star"></span>
	                <span ng-if="review.calificacion>=4" class="glyphicon glyphicon-star"></span>
	                <span ng-if="review.calificacion>=5" class="glyphicon glyphicon-star"></span>
	            </div>
	            <p>{{review.comentario}}</p>
	        </li>
	    </ul>
		<div>
		</div>
	</div>
</div>
