<div>
	<div class="modal-header">
	  <h3>{{modalOptions.headerText}}</h3>
	</div>
	<div class="modal-body">
	  <p class='modal-body-content'>{{modalOptions.bodyText}}</p>
	</div>
	<div class="modal-footer">
	  <button ng-show="!!modalOptions.closeButtonText" type="button" class="btn" 
	          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
	  <button ng-class="{ 'btn btn-danger': modalOptions.actionButtonText != 'OK', 'btn btn-success': modalOptions.actionButtonText == 'OK' }" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
	</div>
</div>
