<div class="bikes-form">
	<h4 class="title">Puntos de Prestamo</h4>
	<button type="button" class="btn btn-success navbar-btn" ng-click="ctrl.nuevoPuntoPrestamo()"> 
	   <span class="glyphicon glyphicon-plus" aria-hidden="true">
	   </span> 
	</button>
</div>
</br>
<table class="table table-striped table-hover"
	ng-show="ctrl.puntosPrestamo.length > 0">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Dirección</th>
			<th>Latitud</th>
			<th>Longitud</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in ctrl.puntosPrestamo">
			<td>{{p.id}}</td>
			<td>{{p.nombre}}</td>
			<td>{{p.direccion}}</td>
			<td>{{p.latitud}}</td>
			<td>{{p.longitud}}</td>
			<td align="center">
				<button type="button" class="btn btn-success"
					ng-click="ctrl.abrirItem(p)">
	   				<span class="glyphicon glyphicon-pencil" aria-hidden="true">
				</button>
				<button type="button" class="btn btn-danger	"
					ng-click="ctrl.eliminarItem(p)">
	   				<span class="glyphicon glyphicon-erase" aria-hidden="true">
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="big-message" ng-show="!ctrl.puntosPrestamo.length">
	<h3>No hay puntos de prestamo en el momento.</h3>
</div>