<div class="bikes-form">
	<h4 class="title">Tu Reporte Histórico</h4>
</div>
<h3 class="subtitle">Puntos de retorno más usados</h3>
<table class="table table-striped table-hover" ng-show="ctrl.puntos.length > 0">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Dirección</th>
			<th>Calificación</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in ctrl.puntos">
			<td>{{p.punto.nombre}}</td>
			<td>{{p.punto.direccion}}</td>
			<td>{{p.punto.calificacion}}</td>
		</tr>
	</tbody>
</table>
<div class="big-message" ng-show="!ctrl.puntos.length">
	<h3>No tienes puntos más usados en el momento.</h3>
</div>
<h3 class="subtitle">Horarios Frecuentes</h3>
<table class="table table-striped table-hover" ng-show="ctrl.horarios.length > 0">
	<thead>
		<tr>
			<th>Hora Frecuente</th>
			<th>Frecuencia</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="h in ctrl.horarios">
			<td>{{h.hora + ':00'}}</td>
			<td>{{h.cantidad}}</td>
		</tr>
	</tbody>
</table>
<div class="big-message" ng-show="!ctrl.horarios.length">
	<h3>No tienes horarios frecuentes en el momento.</h3>
</div>
<h3 class="subtitle">Tiempo de Prestamo</h3>
<table class="table table-striped table-hover" ng-show="ctrl.tiempos.length > 0">
	<thead>
		<tr>
			<th>Prestamo</th>
			<th>Tiempo del Prestamo</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in ctrl.tiempos">
			<td>Punto: {{p.prestamo.punto}}<br>
            Fecha: {{p.prestamo.fecha}}<br>
            Bicicleta: {{p.prestamo.bicicleta}}</td>
			<td>{{p.tiempo}}</td>
		</tr>
	</tbody>
</table>
<div class="big-message" ng-show="!ctrl.tiempos.length">
	<h3>No tienes prestamos </h3>
</div>
<h3 class="subtitle">Rutas</h3>
<table class="table table-striped table-hover" ng-show="ctrl.rutas.length > 0">
	<thead>
		<tr>
			<th>Punto Inicial</th>
			<th>Punto Final</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in ctrl.rutas">
			<td>
                {{p.puntoInicio.nombre}}<br>
                {{p.puntoInicio.direccion}}<br>
                Calificación: {{p.puntoInicio.calificacion}}
            </td>
			<td>{{p.puntoFinal.nombre}}<br>
                {{p.puntoFinal.direccion}}<br>
                Calificación: {{p.puntoFinal.calificacion}}</td>
           
		</tr>
	</tbody>
</table>
<div class="big-message" ng-show="!ctrl.rutas.length">
	<h3>No tienes prestamos </h3>
</div>
