<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reporte Administrador</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ctrl.numUsuarios}}</div>
                        <div>Usuarios registrados</div>
                    </div>
                </div>
            </div>
            <a ng-click="ctrl.irAUsuarios()">
                <div class="panel-footer">
                    <span class="pull-left">Ver Usuarios</span>
                    <span class="pull-right" ng-click="ctrl.irAUsuarios()"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bicycle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ctrl.tipoBiciMasPrestada}}</div>
                        <div>Tipo bici más reservada</div>
                    </div>
                </div>
            </div>
            <a ng-click="ctrl.irATiposBici()">
                <div class="panel-footer">
                    <span class="pull-left">Ver Tipos Bici</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wrench fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ctrl.numBicisMantenimiento}}</div>
                        <div>Bicis en reparación</div>
                    </div>
                </div>
            </div>
            <a ng-click="ctrl.irABicis()">
                <div class="panel-footer">
                    <span class="pull-left">Ver Bicicletas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-file-text-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ctrl.numMultas}}</div>
                        <div>Multas a usuarios</div>
                    </div>
                </div>
            </div>
            <a  ng-click="ctrl.irABusquedaMultas()">
                <div class="panel-footer">
                    <span class="pull-left">Ver Multas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Informe puntos de préstamo
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
		<div class="row">
		    <div class="col-lg-4">
		        <div class="table-responsive">
		            <table class="table table-bordered table-hover table-striped" ng-show="ctrl.puntos.length > 0">
		                <thead>
		                    <tr>
		                        <th>Punto</th>
		                        <th>Número de bicicletas</th>
		                        <th>Número de préstamos</th>
		                        <th>Número de multas</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr ng-repeat="p in ctrl.puntos">
		                        <td>{{p.nombre}}</td>
								<td>{{p.numeroBicicletas}}</td>
								<td>{{p.numeroPrestamos}}</td>
								<td>{{p.numeroMultas}}</td>
		                    </tr>
		                </tbody>
		            </table>
                    <div class="big-message" ng-show="!ctrl.puntos.length">
                        <h3>No hay puntos de préstamo en el momento.</h3>
                    </div>
		        </div>
		        <!-- /.table-responsive -->
		    </div>
		    <!-- /.col-lg-4 (nested) -->
		    <div class="col-lg-8" ng-show="ctrl.puntos.length > 0">
		        <div id="puntos-barchart" style="height: 250px;"></div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-line-chart fa-fw"></i> Préstamos por mes
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
		<div class="row">
		    <div class="col-lg-12">
		        <div id="prestamos-areachart" style="height: 250px;"></div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-pie-chart fa-fw"></i> Préstamos por trayecto
    </div>
    <div class="big-message" ng-show="!ctrl.trayectosPrestamos.length">
        <h3>No hay puntos de préstamo en el momento.</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
		<div class="row">
		    <div class="col-lg-12">
		        <div id="prestamos-chrodchart"></div>
			</div>
		</div>
	</div>
</div>